USE [master]
GO
/****** Object:  Database [Tienda_Lucia]    Script Date: 23/02/2024 16:37:26 ******/
CREATE DATABASE [Tienda_Lucia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tienda_Lucia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.URAI\MSSQL\DATA\Tienda_Lucia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tienda_Lucia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.URAI\MSSQL\DATA\Tienda_Lucia_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tienda_Lucia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tienda_Lucia]
GO
/****** Object:  Table [dbo].[BODEGA]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BODEGA](
	[IdBodega] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](60) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
	[Espacio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBodega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [varchar](50) NULL,
	[NumeroDocumento] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[Telefono] [varchar](40) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[IdColor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[IdColor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRAS]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRAS](
	[IdCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[IdProveedor] [int] NULL,
	[IdBodega] [int] NULL,
	[TotalCosto] [decimal](18, 2) NULL,
	[TipoComprobante] [varchar](50) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONFIGURACION]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONFIGURACION](
	[IdTienda] [int] IDENTITY(1,1) NOT NULL,
	[NombreLocal] [nvarchar](60) NULL,
	[NombrePropietaria] [nvarchar](60) NULL,
	[Direccion] [nvarchar](100) NULL,
	[Telefono] [int] NULL,
	[Correo] [nvarchar](70) NULL,
	[Lineafija] [int] NULL,
	[NombreFiscal] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[RUC] [nvarchar](50) NULL,
 CONSTRAINT [PK__CONFIGUR__5A1EB96B1113C66E] PRIMARY KEY CLUSTERED 
(
	[IdTienda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_COMPRA]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_COMPRA](
	[IdDetalleCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdCompra] [int] NULL,
	[IdProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioUnitarioCompra] [decimal](18, 2) NULL,
	[PrecioUnitarioVenta] [decimal](18, 2) NULL,
	[TotalCosto] [decimal](18, 2) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_VENTA]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_VENTA](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NULL,
	[IdProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioUnidad] [decimal](18, 2) NULL,
	[ImporteTotal] [decimal](18, 2) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devoluciones]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devoluciones](
	[IdDevolucion] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [bit] NULL,
	[Motivo] [nvarchar](500) NULL,
	[FechaRegistro] [datetime] NULL,
	[IdVenta] [int] NULL,
	[CantidadDevuelta] [int] NULL,
	[Codigo] [nvarchar](50) NULL,
	[Producto] [nvarchar](50) NULL,
 CONSTRAINT [PK_Devoluciones] PRIMARY KEY CLUSTERED 
(
	[IdDevolucion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estilo]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estilo](
	[CodigoEstilo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
 CONSTRAINT [PK_tblestilo] PRIMARY KEY CLUSTERED 
(
	[CodigoEstilo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[CodigoMarca] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
 CONSTRAINT [PK_tblmarca] PRIMARY KEY CLUSTERED 
(
	[CodigoMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[IdMenu] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](60) NULL,
	[Icono] [varchar](60) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISOS]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISOS](
	[IdPermisos] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NULL,
	[IdSubMenu] [int] NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
 CONSTRAINT [PK__PERMISOS__CE7ED38DD344BB55] PRIMARY KEY CLUSTERED 
(
	[IdPermisos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](100) NULL,
	[ValorCodigo] [int] NULL,
	[Nombre] [varchar](100) NULL,
	[Descripcion] [varchar](100) NULL,
	[IdCategoria] [int] NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
	[CodigoMarca] [int] NULL,
	[CodigoEstilo] [int] NULL,
	[IdTalla] [int] NULL,
	[IdColor] [int] NULL,
	[RutaImagen] [varchar](100) NULL,
	[NombreImagen] [varchar](100) NULL,
 CONSTRAINT [PK__PRODUCTO__09889210FF84E358] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO_BODEGA]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO_BODEGA](
	[IdProductoBodega] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NULL,
	[IdBodega] [int] NULL,
	[PrecioUnidadCompra] [decimal](18, 2) NULL,
	[PrecioUnidadVenta] [decimal](18, 2) NULL,
	[Stock] [bigint] NULL,
	[Activo] [bit] NULL,
	[Iniciado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProductoBodega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[IdProveedor] [int] IDENTITY(1,1) NOT NULL,
	[RUC] [varchar](50) NULL,
	[RazonSocial] [varchar](100) NULL,
	[Telefono] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](60) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBMENU]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBMENU](
	[IdSubMenu] [int] IDENTITY(1,1) NOT NULL,
	[IdMenu] [int] NULL,
	[Nombre] [varchar](60) NULL,
	[Controlador] [varchar](60) NULL,
	[Vista] [varchar](50) NULL,
	[Icono] [varchar](50) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSubMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Talla]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Talla](
	[IdTalla] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
 CONSTRAINT [PK_Talla] PRIMARY KEY CLUSTERED 
(
	[IdTalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](60) NULL,
	[Apellidos] [varchar](60) NULL,
	[Correo] [varchar](60) NULL,
	[Clave] [varchar](100) NULL,
	[IdRol] [int] NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 23/02/2024 16:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](100) NULL,
	[ValorCodigo] [int] NULL,
	[IdUsuario] [int] NULL,
	[IdCliente] [int] NULL,
	[TipoDocumento] [varchar](50) NULL,
	[CantidadProducto] [int] NULL,
	[CantidadTotal] [int] NULL,
	[TotalCosto] [decimal](18, 2) NULL,
	[ImporteRecibido] [decimal](18, 2) NULL,
	[ImporteCambio] [decimal](18, 2) NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
	[Descuento] [decimal](18, 2) NULL,
 CONSTRAINT [PK__VENTA__BC1240BDA99905EF] PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BODEGA] ON 

INSERT [dbo].[BODEGA] ([IdBodega], [Nombre], [Activo], [FechaRegistro], [Espacio]) VALUES (1, N'Bodega 001', 1, CAST(N'2023-09-11T12:50:48.397' AS DateTime), 85)
INSERT [dbo].[BODEGA] ([IdBodega], [Nombre], [Activo], [FechaRegistro], [Espacio]) VALUES (9, N'Bodega 002', 1, CAST(N'2023-09-24T02:45:04.110' AS DateTime), 80)
SET IDENTITY_INSERT [dbo].[BODEGA] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORIA] ON 

INSERT [dbo].[CATEGORIA] ([IdCategoria], [Descripcion], [Activo], [FechaRegistro]) VALUES (6, N'Niños', 1, CAST(N'2023-09-23T22:08:25.137' AS DateTime))
INSERT [dbo].[CATEGORIA] ([IdCategoria], [Descripcion], [Activo], [FechaRegistro]) VALUES (7, N'Niñas', 1, CAST(N'2023-09-23T22:08:31.683' AS DateTime))
INSERT [dbo].[CATEGORIA] ([IdCategoria], [Descripcion], [Activo], [FechaRegistro]) VALUES (8, N'Jovenes', 1, CAST(N'2023-09-23T22:08:38.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[CATEGORIA] OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([IdCliente], [TipoDocumento], [NumeroDocumento], [Nombre], [Direccion], [Telefono], [Activo], [FechaRegistro]) VALUES (5, N'DUI', N'409-202322-1223O', N'Lucia espinoza', N'jinotepe', N'89775655', 0, CAST(N'2023-09-11T12:50:48.397' AS DateTime))
INSERT [dbo].[CLIENTE] ([IdCliente], [TipoDocumento], [NumeroDocumento], [Nombre], [Direccion], [Telefono], [Activo], [FechaRegistro]) VALUES (11, N'DUI', N'203-565455-4444H', N'Moises Lopez aguirre', N'diriamba, carazo', N'89564544', 1, CAST(N'2023-09-11T12:50:48.397' AS DateTime))
INSERT [dbo].[CLIENTE] ([IdCliente], [TipoDocumento], [NumeroDocumento], [Nombre], [Direccion], [Telefono], [Activo], [FechaRegistro]) VALUES (18, N'DUI', N'6002-456454-1002R', N'Urai Sanchez', N'la jardinera, tercera calle', N'58215220', 1, CAST(N'2023-09-23T22:04:27.747' AS DateTime))
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
GO
SET IDENTITY_INSERT [dbo].[Color] ON 

INSERT [dbo].[Color] ([IdColor], [Nombre], [Activo], [FechaRegistro]) VALUES (1, N'Negro', 1, CAST(N'2023-10-08T20:54:36.590' AS DateTime))
INSERT [dbo].[Color] ([IdColor], [Nombre], [Activo], [FechaRegistro]) VALUES (3, N'Rojo', 1, CAST(N'2023-10-10T17:31:00.653' AS DateTime))
INSERT [dbo].[Color] ([IdColor], [Nombre], [Activo], [FechaRegistro]) VALUES (4, N'Verde', 1, CAST(N'2023-10-10T18:18:16.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[Color] OFF
GO
SET IDENTITY_INSERT [dbo].[COMPRAS] ON 

INSERT [dbo].[COMPRAS] ([IdCompra], [IdUsuario], [IdProveedor], [IdBodega], [TotalCosto], [TipoComprobante], [Activo], [FechaRegistro]) VALUES (1, 1, 3, 1, CAST(20.00 AS Decimal(18, 2)), N'Boleta', 1, CAST(N'2023-10-25T00:00:00.000' AS DateTime))
INSERT [dbo].[COMPRAS] ([IdCompra], [IdUsuario], [IdProveedor], [IdBodega], [TotalCosto], [TipoComprobante], [Activo], [FechaRegistro]) VALUES (2, 1, 4, 9, CAST(31.50 AS Decimal(18, 2)), N'Boleta', 1, CAST(N'2023-11-09T19:26:57.940' AS DateTime))
INSERT [dbo].[COMPRAS] ([IdCompra], [IdUsuario], [IdProveedor], [IdBodega], [TotalCosto], [TipoComprobante], [Activo], [FechaRegistro]) VALUES (3, 1, 3, 1, CAST(10.00 AS Decimal(18, 2)), N'Boleta', 1, CAST(N'2023-11-09T22:01:53.657' AS DateTime))
SET IDENTITY_INSERT [dbo].[COMPRAS] OFF
GO
SET IDENTITY_INSERT [dbo].[CONFIGURACION] ON 

INSERT [dbo].[CONFIGURACION] ([IdTienda], [NombreLocal], [NombrePropietaria], [Direccion], [Telefono], [Correo], [Lineafija], [NombreFiscal], [Descripcion], [RUC]) VALUES (1, N'Calzado Lucia ....', N'Lucia Espinoza', N'Diriamba,Carazo', 89787146, N'Lopea669@gmail', 39, N'******', N'***', N'89898')
SET IDENTITY_INSERT [dbo].[CONFIGURACION] OFF
GO
SET IDENTITY_INSERT [dbo].[DETALLE_COMPRA] ON 

INSERT [dbo].[DETALLE_COMPRA] ([IdDetalleCompra], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitarioCompra], [PrecioUnitarioVenta], [TotalCosto], [Activo], [FechaRegistro]) VALUES (3, 1, 10, 2, CAST(10.00 AS Decimal(18, 2)), CAST(12.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)), 1, CAST(N'2023-10-17T10:46:30.663' AS DateTime))
INSERT [dbo].[DETALLE_COMPRA] ([IdDetalleCompra], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitarioCompra], [PrecioUnitarioVenta], [TotalCosto], [Activo], [FechaRegistro]) VALUES (4, 2, 8, 3, CAST(10.50 AS Decimal(18, 2)), CAST(11.00 AS Decimal(18, 2)), CAST(31.50 AS Decimal(18, 2)), 1, CAST(N'2023-11-09T19:26:57.963' AS DateTime))
INSERT [dbo].[DETALLE_COMPRA] ([IdDetalleCompra], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitarioCompra], [PrecioUnitarioVenta], [TotalCosto], [Activo], [FechaRegistro]) VALUES (5, 3, 10, 5, CAST(2.00 AS Decimal(18, 2)), CAST(3.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), 1, CAST(N'2023-11-09T22:01:53.730' AS DateTime))
SET IDENTITY_INSERT [dbo].[DETALLE_COMPRA] OFF
GO
SET IDENTITY_INSERT [dbo].[DETALLE_VENTA] ON 

INSERT [dbo].[DETALLE_VENTA] ([IdDetalleVenta], [IdVenta], [IdProducto], [Cantidad], [PrecioUnidad], [ImporteTotal], [Activo], [FechaRegistro]) VALUES (1, 1, 10, 1, CAST(1200.00 AS Decimal(18, 2)), CAST(1200.00 AS Decimal(18, 2)), 1, CAST(N'2023-11-09T20:44:28.007' AS DateTime))
INSERT [dbo].[DETALLE_VENTA] ([IdDetalleVenta], [IdVenta], [IdProducto], [Cantidad], [PrecioUnidad], [ImporteTotal], [Activo], [FechaRegistro]) VALUES (2, 2, 10, 2, CAST(1200.00 AS Decimal(18, 2)), CAST(2400.00 AS Decimal(18, 2)), 1, CAST(N'2023-11-09T20:45:57.040' AS DateTime))
INSERT [dbo].[DETALLE_VENTA] ([IdDetalleVenta], [IdVenta], [IdProducto], [Cantidad], [PrecioUnidad], [ImporteTotal], [Activo], [FechaRegistro]) VALUES (3, 3, 8, 1, CAST(1100.00 AS Decimal(18, 2)), CAST(1100.00 AS Decimal(18, 2)), 1, CAST(N'2023-11-09T21:15:25.440' AS DateTime))
SET IDENTITY_INSERT [dbo].[DETALLE_VENTA] OFF
GO
SET IDENTITY_INSERT [dbo].[Devoluciones] ON 

INSERT [dbo].[Devoluciones] ([IdDevolucion], [Estado], [Motivo], [FechaRegistro], [IdVenta], [CantidadDevuelta], [Codigo], [Producto]) VALUES (1, 1, N'Estaba mal unos cordones de los zapatos niker air', CAST(N'2024-02-21T22:52:09.630' AS DateTime), 1, 2, N'000020', N'1063')
INSERT [dbo].[Devoluciones] ([IdDevolucion], [Estado], [Motivo], [FechaRegistro], [IdVenta], [CantidadDevuelta], [Codigo], [Producto]) VALUES (2, 1, N'Estaba mal unos cordones de los zapatos niker air', CAST(N'2024-02-21T23:04:01.300' AS DateTime), 3050, 3, N'000020', N'1063')
INSERT [dbo].[Devoluciones] ([IdDevolucion], [Estado], [Motivo], [FechaRegistro], [IdVenta], [CantidadDevuelta], [Codigo], [Producto]) VALUES (3, 1, N'Estaba mal unos cordones de los zapatos niker air', CAST(N'2024-02-21T23:54:20.130' AS DateTime), 3050, 3, N'000020', N'1063')
SET IDENTITY_INSERT [dbo].[Devoluciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Estilo] ON 

INSERT [dbo].[Estilo] ([CodigoEstilo], [Nombre], [Activo], [FechaRegistro]) VALUES (1, N'Salida', 1, CAST(N'2023-10-10T18:58:04.643' AS DateTime))
INSERT [dbo].[Estilo] ([CodigoEstilo], [Nombre], [Activo], [FechaRegistro]) VALUES (3, N'Deportivos', 1, CAST(N'2023-10-10T19:10:03.120' AS DateTime))
SET IDENTITY_INSERT [dbo].[Estilo] OFF
GO
SET IDENTITY_INSERT [dbo].[Marca] ON 

INSERT [dbo].[Marca] ([CodigoMarca], [Nombre], [Activo], [FechaRegistro]) VALUES (8, N'NIKE', 1, CAST(N'2023-10-10T17:55:43.870' AS DateTime))
INSERT [dbo].[Marca] ([CodigoMarca], [Nombre], [Activo], [FechaRegistro]) VALUES (9, N'Adidas', 1, CAST(N'2023-10-10T18:02:27.160' AS DateTime))
INSERT [dbo].[Marca] ([CodigoMarca], [Nombre], [Activo], [FechaRegistro]) VALUES (11, N'Puma', 1, CAST(N'2023-10-10T18:17:49.100' AS DateTime))
SET IDENTITY_INSERT [dbo].[Marca] OFF
GO
SET IDENTITY_INSERT [dbo].[MENU] ON 

INSERT [dbo].[MENU] ([IdMenu], [Nombre], [Icono], [Activo], [FechaRegistro]) VALUES (1, N'Mantenimiento', N'fas fa-tools', 1, CAST(N'2023-09-11T12:50:47.757' AS DateTime))
INSERT [dbo].[MENU] ([IdMenu], [Nombre], [Icono], [Activo], [FechaRegistro]) VALUES (2, N'Clientes', N'fas fa-user-friends', 1, CAST(N'2023-09-11T12:50:47.757' AS DateTime))
INSERT [dbo].[MENU] ([IdMenu], [Nombre], [Icono], [Activo], [FechaRegistro]) VALUES (3, N'Compras', N'fas fa-cart-arrow-down', 1, CAST(N'2023-09-11T12:50:47.757' AS DateTime))
SET IDENTITY_INSERT [dbo].[MENU] OFF
GO
SET IDENTITY_INSERT [dbo].[PERMISOS] ON 

INSERT [dbo].[PERMISOS] ([IdPermisos], [IdRol], [IdSubMenu], [Activo], [FechaRegistro]) VALUES (1, 1, 1, 1, CAST(N'2023-09-11T12:50:48.027' AS DateTime))
INSERT [dbo].[PERMISOS] ([IdPermisos], [IdRol], [IdSubMenu], [Activo], [FechaRegistro]) VALUES (2, 1, 2, 1, CAST(N'2023-09-11T12:50:48.027' AS DateTime))
INSERT [dbo].[PERMISOS] ([IdPermisos], [IdRol], [IdSubMenu], [Activo], [FechaRegistro]) VALUES (3, 1, 3, 1, CAST(N'2023-09-11T12:50:48.027' AS DateTime))
SET IDENTITY_INSERT [dbo].[PERMISOS] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([IdProducto], [Codigo], [ValorCodigo], [Nombre], [Descripcion], [IdCategoria], [Activo], [FechaRegistro], [CodigoMarca], [CodigoEstilo], [IdTalla], [IdColor], [RutaImagen], [NombreImagen]) VALUES (8, N'000001', 1, N'Camuflaje', N'los zapatos cambian de color', 10, 1, CAST(N'2023-10-11T13:22:58.133' AS DateTime), 8, 3, 3, 1006, N'C:\Imagenes\Libros', N'8.jpeg')
INSERT [dbo].[PRODUCTO] ([IdProducto], [Codigo], [ValorCodigo], [Nombre], [Descripcion], [IdCategoria], [Activo], [FechaRegistro], [CodigoMarca], [CodigoEstilo], [IdTalla], [IdColor], [RutaImagen], [NombreImagen]) VALUES (10, N'000002', 2, N'Kater', N'Katerpilllar', 10, 1, CAST(N'2023-10-11T13:55:09.910' AS DateTime), 13, 3, 3, 1, N'C:\Imagenes\Libros', N'10.jpeg')
INSERT [dbo].[PRODUCTO] ([IdProducto], [Codigo], [ValorCodigo], [Nombre], [Descripcion], [IdCategoria], [Activo], [FechaRegistro], [CodigoMarca], [CodigoEstilo], [IdTalla], [IdColor], [RutaImagen], [NombreImagen]) VALUES (1008, N'000003', 3, N'katerpillar de cuero', N'Zapato de ingeniero', 6, 1, CAST(N'2023-11-14T09:17:51.727' AS DateTime), 12, 1, 4, 4, N'C:\Imagenes\Libros', N'1008.jpeg')
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO_BODEGA] ON 

INSERT [dbo].[PRODUCTO_BODEGA] ([IdProductoBodega], [IdProducto], [IdBodega], [PrecioUnidadCompra], [PrecioUnidadVenta], [Stock], [Activo], [Iniciado], [FechaRegistro]) VALUES (15, 10, 1, CAST(400.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)), 7, 1, 1, CAST(N'2023-10-11T15:54:30.663' AS DateTime))
INSERT [dbo].[PRODUCTO_BODEGA] ([IdProductoBodega], [IdProducto], [IdBodega], [PrecioUnidadCompra], [PrecioUnidadVenta], [Stock], [Activo], [Iniciado], [FechaRegistro]) VALUES (1019, 1008, 1, CAST(300.00 AS Decimal(18, 2)), CAST(400.00 AS Decimal(18, 2)), 32, 1, 1, CAST(N'2023-11-14T09:20:37.613' AS DateTime))
INSERT [dbo].[PRODUCTO_BODEGA] ([IdProductoBodega], [IdProducto], [IdBodega], [PrecioUnidadCompra], [PrecioUnidadVenta], [Stock], [Activo], [Iniciado], [FechaRegistro]) VALUES (3016, 1010, 1, CAST(300.00 AS Decimal(18, 2)), CAST(450.00 AS Decimal(18, 2)), 14, 1, 1, CAST(N'2024-01-22T10:25:27.253' AS DateTime))
SET IDENTITY_INSERT [dbo].[PRODUCTO_BODEGA] OFF
GO
SET IDENTITY_INSERT [dbo].[PROVEEDOR] ON 

INSERT [dbo].[PROVEEDOR] ([IdProveedor], [RUC], [RazonSocial], [Telefono], [Correo], [Direccion], [Activo], [FechaRegistro]) VALUES (3, N'123546848468', N' NIKE', N'89787146', N'Lopea669@gmail.com', N'Diriamba,Carazo', 1, CAST(N'2023-09-11T14:33:18.653' AS DateTime))
INSERT [dbo].[PROVEEDOR] ([IdProveedor], [RUC], [RazonSocial], [Telefono], [Correo], [Direccion], [Activo], [FechaRegistro]) VALUES (4, N'45623412312', N' Adidas', N'85663212', N'Lopeaabiel669@gmail.com', N'la virtusd', 1, CAST(N'2023-11-01T12:58:25.230' AS DateTime))
INSERT [dbo].[PROVEEDOR] ([IdProveedor], [RUC], [RazonSocial], [Telefono], [Correo], [Direccion], [Activo], [FechaRegistro]) VALUES (1004, N'8978745465', N'jordan', N'89755645', N'moises@gmail.com', N'masachapa', 1, CAST(N'2024-02-08T16:11:33.960' AS DateTime))
SET IDENTITY_INSERT [dbo].[PROVEEDOR] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([IdRol], [Descripcion], [Activo], [FechaRegistro]) VALUES (1, N'ADMINISTRADOR', 1, CAST(N'2023-09-11T12:50:47.710' AS DateTime))
INSERT [dbo].[ROL] ([IdRol], [Descripcion], [Activo], [FechaRegistro]) VALUES (5, N'EMPLEADO', 1, CAST(N'2024-02-08T16:02:27.083' AS DateTime))
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[SUBMENU] ON 

INSERT [dbo].[SUBMENU] ([IdSubMenu], [IdMenu], [Nombre], [Controlador], [Vista], [Icono], [Activo], [FechaRegistro]) VALUES (1, 1, N'Rol', N'Rol', N'Crear', N'fas fa-user-tag', 1, CAST(N'2023-09-11T12:50:47.927' AS DateTime))
INSERT [dbo].[SUBMENU] ([IdSubMenu], [IdMenu], [Nombre], [Controlador], [Vista], [Icono], [Activo], [FechaRegistro]) VALUES (2, 1, N'Asignar Permisos', N'Permisos', N'Crear', N'fas fa-user-lock', 1, CAST(N'2023-09-11T12:50:47.927' AS DateTime))
INSERT [dbo].[SUBMENU] ([IdSubMenu], [IdMenu], [Nombre], [Controlador], [Vista], [Icono], [Activo], [FechaRegistro]) VALUES (3, 1, N'Usuarios', N'Usuario', N'Crear', N'fas fa-users-cog', 1, CAST(N'2023-09-11T12:50:47.927' AS DateTime))
SET IDENTITY_INSERT [dbo].[SUBMENU] OFF
GO
SET IDENTITY_INSERT [dbo].[Talla] ON 

INSERT [dbo].[Talla] ([IdTalla], [Nombre], [Activo], [FechaRegistro]) VALUES (2, N'28', 1, CAST(N'2023-10-11T10:23:14.783' AS DateTime))
INSERT [dbo].[Talla] ([IdTalla], [Nombre], [Activo], [FechaRegistro]) VALUES (3, N'40', 1, CAST(N'2023-10-11T10:23:44.537' AS DateTime))
INSERT [dbo].[Talla] ([IdTalla], [Nombre], [Activo], [FechaRegistro]) VALUES (4, N'35', 1, CAST(N'2023-10-11T13:56:46.570' AS DateTime))
SET IDENTITY_INSERT [dbo].[Talla] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([IdUsuario], [Nombres], [Apellidos], [Correo], [Clave], [IdRol], [Activo], [FechaRegistro]) VALUES (1, N'Abiel Urai', N'Lopez Sanchez', N'admin@gmail.com', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', 1, 1, CAST(N'2023-09-11T12:57:00.040' AS DateTime))
INSERT [dbo].[USUARIO] ([IdUsuario], [Nombres], [Apellidos], [Correo], [Clave], [IdRol], [Activo], [FechaRegistro]) VALUES (2, N'Moises', N'Lopez', N'tienda@gmail.com', N'b221d9dbb083a7f33428d7c2a3c3198ae925614d70210e28716ccaa7cd4ddb79', 5, 1, CAST(N'2023-09-11T12:57:10.867' AS DateTime))
INSERT [dbo].[USUARIO] ([IdUsuario], [Nombres], [Apellidos], [Correo], [Clave], [IdRol], [Activo], [FechaRegistro]) VALUES (1006, N' Fabian', N'Garcia', N'Alvaro@gmail.com', N'b221d9dbb083a7f33428d7c2a3c3198ae925614d70210e28716ccaa7cd4ddb79', 5, 1, CAST(N'2024-01-02T12:43:45.513' AS DateTime))
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
SET IDENTITY_INSERT [dbo].[VENTA] ON 

INSERT [dbo].[VENTA] ([IdVenta], [Codigo], [ValorCodigo], [IdUsuario], [IdCliente], [TipoDocumento], [CantidadProducto], [CantidadTotal], [TotalCosto], [ImporteRecibido], [ImporteCambio], [Activo], [FechaRegistro], [Descuento]) VALUES (1, N'000001', 1, 1, 11, N'Factura', 1, 1, CAST(1200.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)), CAST(800.00 AS Decimal(18, 2)), 0, CAST(N'2023-11-09T20:44:27.977' AS DateTime), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[VENTA] ([IdVenta], [Codigo], [ValorCodigo], [IdUsuario], [IdCliente], [TipoDocumento], [CantidadProducto], [CantidadTotal], [TotalCosto], [ImporteRecibido], [ImporteCambio], [Activo], [FechaRegistro], [Descuento]) VALUES (2, N'000002', 2, 1, 18, N'Factura', 1, 2, CAST(2400.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)), CAST(600.00 AS Decimal(18, 2)), 0, CAST(N'2023-11-09T20:45:57.020' AS DateTime), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[VENTA] ([IdVenta], [Codigo], [ValorCodigo], [IdUsuario], [IdCliente], [TipoDocumento], [CantidadProducto], [CantidadTotal], [TotalCosto], [ImporteRecibido], [ImporteCambio], [Activo], [FechaRegistro], [Descuento]) VALUES (3, N'000003', 3, 2, 11, N'Factura', 1, 1, CAST(1100.00 AS Decimal(18, 2)), CAST(1125.00 AS Decimal(18, 2)), CAST(25.00 AS Decimal(18, 2)), 0, CAST(N'2023-11-09T21:15:25.410' AS DateTime), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[VENTA] OFF
GO
ALTER TABLE [dbo].[BODEGA] ADD  CONSTRAINT [DF_BODEGA_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[BODEGA] ADD  CONSTRAINT [DF_BODEGA_FechaRegistro]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[CATEGORIA] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[CATEGORIA] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Color] ADD  CONSTRAINT [DF_Color_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Color] ADD  CONSTRAINT [DF_Color_FechaRegistro]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[COMPRAS] ADD  CONSTRAINT [DF_COMPRAS_TotalCosto]  DEFAULT ((0)) FOR [TotalCosto]
GO
ALTER TABLE [dbo].[COMPRAS] ADD  CONSTRAINT [DF_COMPRAS_TipoComprobante]  DEFAULT ('Boleta') FOR [TipoComprobante]
GO
ALTER TABLE [dbo].[COMPRAS] ADD  CONSTRAINT [DF_COMPRAS_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[COMPRAS] ADD  CONSTRAINT [DF_COMPRAS_FechaRegistro]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[DETALLE_COMPRA] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[DETALLE_COMPRA] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[DETALLE_VENTA] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[DETALLE_VENTA] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Devoluciones] ADD  CONSTRAINT [DF_Devoluciones_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Devoluciones] ADD  CONSTRAINT [DF_Devoluciones_FechaRegistro]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Estilo] ADD  CONSTRAINT [DF_Estilo_Estado]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Estilo] ADD  CONSTRAINT [DF_Estilo_FechaRegistro]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Marca] ADD  CONSTRAINT [DF_Marca_Estado]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Marca] ADD  CONSTRAINT [DF_Marca_FechaRegistro]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[MENU] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[MENU] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[PERMISOS] ADD  CONSTRAINT [DF_PERMISOS_IdSubMenu]  DEFAULT ((4)) FOR [IdSubMenu]
GO
ALTER TABLE [dbo].[PERMISOS] ADD  CONSTRAINT [DF_PERMISOS_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[PERMISOS] ADD  CONSTRAINT [DF__PERMISOS__FechaR__5535A963]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  CONSTRAINT [DF__PRODUCTO__Activo__5629CD9C]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  CONSTRAINT [DF__PRODUCTO__FechaR__571DF1D5]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  CONSTRAINT [DF_PRODUCTO_NombreImagen]  DEFAULT ('((oee.jpg))') FOR [NombreImagen]
GO
ALTER TABLE [dbo].[PRODUCTO_BODEGA] ADD  CONSTRAINT [DF_PRODUCTO_BODEGA_PrecioUnidadCompra]  DEFAULT ((0)) FOR [PrecioUnidadCompra]
GO
ALTER TABLE [dbo].[PRODUCTO_BODEGA] ADD  CONSTRAINT [DF_PRODUCTO_BODEGA_PrecioUnidadVenta]  DEFAULT ((0)) FOR [PrecioUnidadVenta]
GO
ALTER TABLE [dbo].[PRODUCTO_BODEGA] ADD  CONSTRAINT [DF_PRODUCTO_BODEGA_Stock]  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[PRODUCTO_BODEGA] ADD  CONSTRAINT [DF_PRODUCTO_BODEGA_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[PRODUCTO_BODEGA] ADD  CONSTRAINT [DF_PRODUCTO_BODEGA_Iniciado]  DEFAULT ((0)) FOR [Iniciado]
GO
ALTER TABLE [dbo].[PRODUCTO_BODEGA] ADD  CONSTRAINT [DF_PRODUCTO_BODEGA_FechaRegistro]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[PROVEEDOR] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[PROVEEDOR] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[ROL] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ROL] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[SUBMENU] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[SUBMENU] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Talla] ADD  CONSTRAINT [DF_Talla_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Talla] ADD  CONSTRAINT [DF_Talla_FechaRegistro]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[VENTA] ADD  CONSTRAINT [DF__VENTA__Activo__6754599E]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[VENTA] ADD  CONSTRAINT [DF__VENTA__FechaRegi__68487DD7]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[VENTA] ADD  CONSTRAINT [DF_VENTA_Descuento]  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[COMPRAS]  WITH CHECK ADD  CONSTRAINT [FK_COMPRAS_BODEGA] FOREIGN KEY([IdBodega])
REFERENCES [dbo].[BODEGA] ([IdBodega])
GO
ALTER TABLE [dbo].[COMPRAS] CHECK CONSTRAINT [FK_COMPRAS_BODEGA]
GO
ALTER TABLE [dbo].[COMPRAS]  WITH CHECK ADD  CONSTRAINT [FK_COMPRAS_PROVEEDOR] FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[PROVEEDOR] ([IdProveedor])
GO
ALTER TABLE [dbo].[COMPRAS] CHECK CONSTRAINT [FK_COMPRAS_PROVEEDOR]
GO
ALTER TABLE [dbo].[COMPRAS]  WITH CHECK ADD  CONSTRAINT [FK_COMPRAS_USUARIO] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([IdUsuario])
GO
ALTER TABLE [dbo].[COMPRAS] CHECK CONSTRAINT [FK_COMPRAS_USUARIO]
GO
ALTER TABLE [dbo].[DETALLE_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK__DETALLE_C__IdPro__6E01572D] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTO] ([IdProducto])
GO
ALTER TABLE [dbo].[DETALLE_COMPRA] CHECK CONSTRAINT [FK__DETALLE_C__IdPro__6E01572D]
GO
ALTER TABLE [dbo].[DETALLE_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_COMPRA_COMPRAS] FOREIGN KEY([IdCompra])
REFERENCES [dbo].[COMPRAS] ([IdCompra])
GO
ALTER TABLE [dbo].[DETALLE_COMPRA] CHECK CONSTRAINT [FK_DETALLE_COMPRA_COMPRAS]
GO
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD  CONSTRAINT [FK__DETALLE_V__IdPro__6EF57B66] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTO] ([IdProducto])
GO
ALTER TABLE [dbo].[DETALLE_VENTA] CHECK CONSTRAINT [FK__DETALLE_V__IdPro__6EF57B66]
GO
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_VENTA_VENTA] FOREIGN KEY([IdVenta])
REFERENCES [dbo].[VENTA] ([IdVenta])
GO
ALTER TABLE [dbo].[DETALLE_VENTA] CHECK CONSTRAINT [FK_DETALLE_VENTA_VENTA]
GO
ALTER TABLE [dbo].[Devoluciones]  WITH CHECK ADD  CONSTRAINT [FK_Devoluciones_VENTA] FOREIGN KEY([IdVenta])
REFERENCES [dbo].[VENTA] ([IdVenta])
GO
ALTER TABLE [dbo].[Devoluciones] CHECK CONSTRAINT [FK_Devoluciones_VENTA]
GO
ALTER TABLE [dbo].[PERMISOS]  WITH CHECK ADD  CONSTRAINT [FK__PERMISOS__IdRol__70DDC3D8] FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROL] ([IdRol])
GO
ALTER TABLE [dbo].[PERMISOS] CHECK CONSTRAINT [FK__PERMISOS__IdRol__70DDC3D8]
GO
ALTER TABLE [dbo].[PERMISOS]  WITH CHECK ADD  CONSTRAINT [FK__PERMISOS__IdSubM__71D1E811] FOREIGN KEY([IdSubMenu])
REFERENCES [dbo].[SUBMENU] ([IdSubMenu])
GO
ALTER TABLE [dbo].[PERMISOS] CHECK CONSTRAINT [FK__PERMISOS__IdSubM__71D1E811]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK__PRODUCTO__IdCate__72C60C4A] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CATEGORIA] ([IdCategoria])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK__PRODUCTO__IdCate__72C60C4A]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_Color] FOREIGN KEY([IdColor])
REFERENCES [dbo].[Color] ([IdColor])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_Color]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_Estilo] FOREIGN KEY([CodigoEstilo])
REFERENCES [dbo].[Estilo] ([CodigoEstilo])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_Estilo]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_Marca] FOREIGN KEY([CodigoMarca])
REFERENCES [dbo].[Marca] ([CodigoMarca])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_Marca]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_Talla] FOREIGN KEY([IdTalla])
REFERENCES [dbo].[Talla] ([IdTalla])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_Talla]
GO
ALTER TABLE [dbo].[PRODUCTO_BODEGA]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_BODEGA_BODEGA] FOREIGN KEY([IdBodega])
REFERENCES [dbo].[BODEGA] ([IdBodega])
GO
ALTER TABLE [dbo].[PRODUCTO_BODEGA] CHECK CONSTRAINT [FK_PRODUCTO_BODEGA_BODEGA]
GO
ALTER TABLE [dbo].[PRODUCTO_BODEGA]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_BODEGA_PRODUCTO] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[PRODUCTO] ([IdProducto])
GO
ALTER TABLE [dbo].[PRODUCTO_BODEGA] CHECK CONSTRAINT [FK_PRODUCTO_BODEGA_PRODUCTO]
GO
ALTER TABLE [dbo].[SUBMENU]  WITH CHECK ADD FOREIGN KEY([IdMenu])
REFERENCES [dbo].[MENU] ([IdMenu])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROL] ([IdRol])
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_CLIENTE] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[CLIENTE] ([IdCliente])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_CLIENTE]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_USUARIO] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([IdUsuario])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_USUARIO]
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizarRutaImagen]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_actualizarRutaImagen](
@IdProducto int,
@NombreImagen varchar(500)
)
as
begin
	update PRODUCTO set NombreImagen = @NombreImagen where IdProducto = @IdProducto
end
GO
/****** Object:  StoredProcedure [dbo].[SP_RetornarProductos]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[SP_RetornarProductos]
 as
 begin

  declare @fecha_maxima datetime;
  declare @fecha_minimo datetime;

  set @fecha_maxima = ( select MAX(FechaRegistro) from DETALLE_VENTA);

  set @fecha_minimo =  DATEADD(MONTH,-2,@fecha_maxima);
  --vamos a restarle dias a nuestra fecha minima
  set @fecha_minimo =  DATEADD(DAY,- ( day(@fecha_minimo) - 1  )  ,@fecha_minimo);


 --agregamos solo el top 4 y nombre de columnas
  select top 4 p.Nombre[producto],count(p.IdProducto)[cantidad] from DETALLE_VENTA v
 inner join DETALLE_VENTA d on d.IdVenta = v.IdVenta
 inner join producto p on d.IdProducto = p.IdProducto
 where v.FechaRegistro between @fecha_minimo and @fecha_maxima
 group by p.Nombre
 order by count(p.IdProducto) desc
end

GO
/****** Object:  StoredProcedure [dbo].[SP_RetornarVentas]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_RetornarVentas]
 as
 begin
 select convert (date, FechaRegistro) as Dia, COUNT(*) as CantidadTotal from VENTA
  where FechaRegistro >=  DATEADD(day, -5, GETDATE())
  group by convert (date, FechaRegistro)
  order by Dia asc;
 end





GO
/****** Object:  StoredProcedure [dbo].[usp_ActualizarPermisos]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDIMIENTO PARA ACTUALIZAR PERMISOS
create procedure [dbo].[usp_ActualizarPermisos](
@Detalle xml,
@Resultado bit output
)
as
begin
begin try

	BEGIN TRANSACTION
	declare @permisos table(idpermisos int,activo bit)

	insert into @permisos(idpermisos,activo)
	select 
	idpermisos = Node.Data.value('(IdPermisos)[1]','int'),
	activo = Node.Data.value('(Activo)[1]','bit')
	FROM @Detalle.nodes('/DETALLE/PERMISO') Node(Data)

	select * from @permisos

	update p set p.Activo = pe.activo from PERMISOS p
	inner join @permisos pe on pe.idpermisos = p.IdPermisos

	COMMIT
	set @Resultado = 1

end try
begin catch
	ROLLBACK
	set @Resultado = 0
end catch
end


GO
/****** Object:  StoredProcedure [dbo].[usp_CantidadBodegas]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[usp_CantidadBodegas]
as
begin

select  b.Nombre as Bodega, b.Espacio as Capacidad, SUM(pb.Stock) as total from PRODUCTO_BODEGA pb
  
  join Bodega B on b.IdBodega = pb.IdBodega
  group by b.Nombre, b.Espacio;
 
end


select * from BODEGA

  
 
GO
/****** Object:  StoredProcedure [dbo].[usp_Controlardevoluciones]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[usp_Controlardevoluciones](
@IdProducto int,
@Cantidad int,
@Restar bit,
@Resultado bit output)
as
begin
	set @Resultado = 1
	begin try
		if(@Restar = 1)
			update PRODUCTO_BODEGA set Stock = Stock - @Cantidad where IdProducto = @IdProducto and Iniciado = 0
		else
			update PRODUCTO_BODEGA set Stock = Stock + @Cantidad where IdProducto = @IdProducto and Iniciado = 0
	end try
	begin catch
		set @Resultado = 0
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[usp_ControlarStock]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDIMIENTO PARA STOCK PRODUCTO_TIENDA

CREATE PROCEDURE [dbo].[usp_ControlarStock](
@IdProducto int,
@Cantidad int,
@Restar bit,
@Resultado bit output)
as
begin
	set @Resultado = 1
	begin try
		if(@Restar = 1)
			update PRODUCTO_BODEGA set Stock = Stock - @Cantidad where IdProducto = @IdProducto and Iniciado = 1
		else
			update PRODUCTO_BODEGA set Stock = Stock + @Cantidad where IdProducto = @IdProducto and Iniciado = 1
	end try
	begin catch
		set @Resultado = 0
	end catch
end



GO
/****** Object:  StoredProcedure [dbo].[usp_De]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_De](

@Codigo varchar(50),
@Motivo varchar(500),
@Cantidad int,
@Co varchar(50),
@Resultado bit output
)
as
BEGIN
SET @Resultado = 1
   
	DECLARE @IdVenta int;
	select @IdVenta = IdVenta from VENTA where Codigo = @Codigo;

	if @IdVenta is not null 
	begin
	begin transaction;
	insert into Devoluciones(IdVenta,Motivo,CantidadDevuelta,Codigo,Producto)
	values(@IdVenta,@Motivo,@Cantidad,@Codigo,@Co)



	update Venta set 
	Activo = 0
	where IdVenta = @IdVenta;



	update PRODUCTO_BODEGA set Stock = Stock + @Cantidad where IdProducto = @Co;

	commit;
    end 
	else 
	begin 
		SET @Resultado = 0
	end
	end;
GO
/****** Object:  StoredProcedure [dbo].[usp_Dev]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_Dev](
@IdVenta int,
@Motivo varchar(500),
@Cantidad int,
@Resultado bit output
)as
begin
	SET @Resultado = 1
	
	 IF EXISTS (SELECT * FROM VENTA WHERE IdVenta = @IdVenta)

		insert into Devoluciones(IdVenta,Motivo,CantidadDevuelta)
		values(@IdVenta,@Motivo,@Cantidad)
	ELSE
		SET @Resultado = 0
	
end
GO
/****** Object:  StoredProcedure [dbo].[usp_devolucion]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_devolucion](
@IdVenta int,
@Activo bit,
@Resultado bit output
)
as
begin
	SET @Resultado = 1
	IF EXISTS (SELECT * FROM VENTA WHERE IdVenta != @IdVenta)
		
		update VENTA set 
		Activo = @Activo
		where IdVenta = @IdVenta
	ELSE
		SET @Resultado = 0

end


GO
/****** Object:  StoredProcedure [dbo].[usp_EliminarCategoria]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDIMIENTO PARA ELIMINAR CATEGORIA
create procedure [dbo].[usp_EliminarCategoria](
@IdCategoria int,
@Resultado bit output
)
as
begin
	SET @Resultado = 1

	--validamos que ninguna categoria este relacionada a un producto
	IF not EXISTS (select * from CATEGORIA c
	inner join PRODUCTO p on c.IdCategoria  = p.IdCategoria
	where c.IdCategoria = @IdCategoria)

		delete from CATEGORIA where IdCategoria = @IdCategoria

	ELSE
		SET @Resultado = 0

end




GO
/****** Object:  StoredProcedure [dbo].[usp_EliminarCliente]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDIMIENTO PARA ELIMINAR CLIENTE
create procedure [dbo].[usp_EliminarCliente](
@IdCliente int,
@Resultado bit output
)
as
begin
	set @Resultado = 1
	begin try
		delete from CLIENTE where IdCliente = @IdCliente

	end try
	begin catch
		set @Resultado = 0
	end catch
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Eliminarcolor]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_Eliminarcolor](
@IdColor int,
@Resultado bit output
)
as
begin
	SET @Resultado = 1

	--validamos que ninguna categoria este relacionada a un producto
	IF not EXISTS (select * from Color a
	inner join PRODUCTO p on a.IdColor  = p.IdColor
	where a.IdColor = @IdColor)

		delete from Color where IdColor = @IdColor

	ELSE
		SET @Resultado = 0

end
GO
/****** Object:  StoredProcedure [dbo].[usp_EliminarEstilo]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_EliminarEstilo](
@CodigoEstilo int,
@Resultado bit output
)
as
begin
	SET @Resultado = 1

	--validamos que ninguna categoria este relacionada a un producto
	IF not EXISTS (select * from Estilo e
	inner join PRODUCTO p on e.CodigoEstilo  = p.CodigoEstilo
	where e.CodigoEstilo = @CodigoEstilo)

		delete from Estilo where CodigoEstilo = @CodigoEstilo

	ELSE
		SET @Resultado = 0

end
GO
/****** Object:  StoredProcedure [dbo].[usp_EliminarMarca]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[usp_EliminarMarca](
@IdMarca int,
@Resultado bit output
)
as
begin
	SET @Resultado = 1

	--validamos que ninguna categoria este relacionada a un producto
	IF not EXISTS (select * from Marca m
	inner join PRODUCTO p on m.CodigoMarca  = p.CodigoMarca
	where m.CodigoMarca = @IdMarca)

		delete from Marca where CodigoMarca = @IdMarca

	ELSE
		SET @Resultado = 0

end
GO
/****** Object:  StoredProcedure [dbo].[usp_EliminarProducto]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDIMIENTO PARA ELIMINAR PRODUCTO
CREATE procedure [dbo].[usp_EliminarProducto](
@IdProducto int,
@Resultado bit output
)
as
begin
	SET @Resultado = 1

	--validamos que ningun producto se encuentre relacionado a una Bodega
	IF not EXISTS (select top 1 * from PRODUCTO_BODEGA PB
INNER JOIN PRODUCTO P ON P.IdProducto = PB.IdProducto
WHERE P.IdProducto = @IdProducto)
		delete from PRODUCTO where IdProducto = @IdProducto

	ELSE
		SET @Resultado = 0

end


GO
/****** Object:  StoredProcedure [dbo].[usp_EliminarProductoTienda]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDIMIENTO PARA ELIMINAR PRODUCTO_TIENDA
CREATE procedure [dbo].[usp_EliminarProductoTienda](
@IdProductoBodega int,
@Resultado bit output
)
as
begin
	SET @Resultado = 1

	IF NOT EXISTS (SELECT * FROM PRODUCTO_BODEGA WHERE IdProductoBodega = @IdProductoBodega and Iniciado = 1 )

		delete from PRODUCTO_BODEGA where IdProductoBodega = @IdProductoBodega

	ELSE
		SET @Resultado = 0

end


GO
/****** Object:  StoredProcedure [dbo].[usp_EliminarProveedor]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDIMIENTO PARA ELIMINAR PROVEEDOR
CREATE procedure [dbo].[usp_EliminarProveedor](
@IdProveedor int,
@Resultado bit output
)
as
begin
	SET @Resultado = 1
	--validamos que ningun proveedor se encuentre asignado a una compra
	IF not EXISTS (select top 1 * from COMPRAS c
inner join PROVEEDOR p on p.IdProveedor = c.IdProveedor
where p.IdProveedor = @IdProveedor)

		delete from PROVEEDOR where IdProveedor = @IdProveedor
	ELSE
		SET @Resultado = 0

end


GO
/****** Object:  StoredProcedure [dbo].[usp_EliminarRol]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDIMIENTO PARA ELIMINAR ROL
create procedure [dbo].[usp_EliminarRol](
@IdRol int,
@Resultado bit output
)
as
begin
	SET @Resultado = 1

	--validamos que el rol no se encuentre asignado a algun usuario
	IF not EXISTS (select * from USUARIO u
	inner join ROL r on r.IdRol  = u.IdRol
	where r.IdRol = @IdRol)
	begin	
		delete from PERMISOS where IdRol = @IdRol
		delete from ROL where IdRol = @IdRol
	end
	ELSE
		SET @Resultado = 0

end


GO
/****** Object:  StoredProcedure [dbo].[usp_EliminarTalla]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[usp_EliminarTalla](
@IdTalla int,
@Resultado bit output
)
as
begin
	SET @Resultado = 1

	--validamos que ninguna categoria este relacionada a un producto
	IF not EXISTS (select * from Talla t
	inner join PRODUCTO p on t.IdTalla  = p.IdTalla
	where t.IdTalla = @IdTalla)

		delete from talla where Idtalla = @Idtalla

	ELSE
		SET @Resultado = 0

end
GO
/****** Object:  StoredProcedure [dbo].[usp_EliminarTienda]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_EliminarTienda](
@IdBodega int,
@Resultado bit output
)
as
begin
	SET @Resultado = 1

	--validamos que la tienda no se encuentre asignada a un usuario y una venta
	IF not EXISTS (select * from PRODUCTO_BODEGA p
	inner join BODEGA b on b.IdBodega = p.IdBodega
	where b.IdBodega = @IdBodega)

		delete from BODEGA where IdBodega = @IdBodega

	ELSE
		SET @Resultado = 0

end
GO
/****** Object:  StoredProcedure [dbo].[usp_EliminarUsuario]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDIMIENTO PARA ELIMINAR USUARIO
CREATE procedure [dbo].[usp_EliminarUsuario](
@IdUsuario int,
@Resultado bit output
)
as
begin
	SET @Resultado = 1

	--validamos que ningun usuario se encuentre relacionado a una tienda
	IF (not EXISTS (select c.* from COMPRAS c 
		inner join USUARIO u on u.IdUsuario = c.IdUsuario 
		where u.IdUsuario = @IdUsuario
		) and 
		not EXISTS (select v.* from VENTA v 
		inner join USUARIO u on u.IdUsuario = v.IdUsuario 
		where u.IdUsuario = @IdUsuario
		)
	)
		delete from USUARIO where IdUsuario = @IdUsuario
	ELSE
		SET @Resultado = 0

end


GO
/****** Object:  StoredProcedure [dbo].[usp_grafica]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_grafica] 
as
begin

declare @fecha_maxima datetime;
  declare @fecha_minimo datetime;

  set @fecha_maxima = ( select MAX(FechaRegistro) from VENTA);

  set @fecha_minimo =  DATEADD(MONTH,-2,@fecha_maxima);
  --vamos a restarle dias a nuestra fecha minima
  set @fecha_minimo =  DATEADD(DAY,- ( day(@fecha_minimo) - 1  )  ,@fecha_minimo);

  -- select @fecha_maxima;
  -- select @fecha_minimo;
  --agregamos el nombre de mes y los nombres de columnas
select year(FechaRegistro)[Fecha], DATENAME(MONTH,FechaRegistro)[Fecha mes],COUNT(*)[CantidaTotal] 
  from VENTA 
  where FechaRegistro between @fecha_minimo and @fecha_maxima
  group by year(FechaRegistro), MONTH(FechaRegistro),DATENAME(MONTH,FechaRegistro)
  order by year(FechaRegistro), MONTH(FechaRegistro) asc
end


GO
/****** Object:  StoredProcedure [dbo].[usp_LoginUsuario]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDMIENTO PARA OBTENER USUARIO

create procedure [dbo].[usp_LoginUsuario](
@Correo varchar(60),
@Clave varchar(100),
@IdUsuario int output
)
as
begin
	set @IdUsuario = 0
	if exists(select * from USUARIO where Correo COLLATE Latin1_General_CS_AS = @Correo and Clave COLLATE Latin1_General_CS_AS = @Clave and Activo = 1)
		set @IdUsuario = (select top 1 IdUsuario from USUARIO where Correo  COLLATE Latin1_General_CS_AS = @Correo and Clave COLLATE Latin1_General_CS_AS = @Clave and Activo = 1)
end


GO
/****** Object:  StoredProcedure [dbo].[usp_ModificarCategoria]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDIMIENTO PARA MODIFICAR CATEGORIA
create procedure [dbo].[usp_ModificarCategoria](
@IdCategoria int,
@Descripcion varchar(60),
@Activo bit,
@Resultado bit output
)
as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM CATEGORIA WHERE Descripcion =@Descripcion and IdCategoria != @IdCategoria)
		
		update CATEGORIA set 
		Descripcion = @Descripcion,
		Activo = @Activo
		where IdCategoria = @IdCategoria
	ELSE
		SET @Resultado = 0

end


GO
/****** Object:  StoredProcedure [dbo].[usp_ModificarCliente]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROCEDIMIENTO PARA MODIFICAR CLIENTE
CREATE PROC [dbo].[usp_ModificarCliente](
@IdCliente int,
@TipoDocumento varchar(100),
@NumeroDocumento varchar(100),
@Nombre varchar(100),
@Direccion varchar(100),
@Telefono varchar(100),
@Activo bit,
@Resultado bit output
)as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM CLIENTE WHERE NumeroDocumento = @NumeroDocumento and IdCliente != @IdCliente)
	begin
		update CLIENTE set 
		TipoDocumento = @TipoDocumento,
		NumeroDocumento = @NumeroDocumento,
		Nombre = @Nombre,
		Direccion = @Direccion,
		Telefono = @Telefono,
		Activo = @Activo
		where IdCliente = @IdCliente
	end
	ELSE
		SET @Resultado = 0
	
end


GO
/****** Object:  StoredProcedure [dbo].[usp_ModificarColor]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_ModificarColor](
@IdColor int,
@Nombre varchar(60),
@Activo bit,
@Resultado bit output
)
as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM Color WHERE Nombre =@Nombre and IdColor != @IdColor)
		
		update Color set 
		Nombre = @Nombre,
		Activo = @Activo
		where IdColor = @IdColor
	ELSE
		SET @Resultado = 0

end
GO
/****** Object:  StoredProcedure [dbo].[usp_ModificarConfiguracion]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_ModificarConfiguracion](
@IdTienda int,
@NombreLocal varchar(60),
@Nombre varchar(60),
@Direccion varchar(60),
@Telefono int,
@Correo varchar(60),
@Linea int,
@Fiscal varchar(60),
@Descripcion varchar(60),
@Ruc varchar(60),
@Resultado bit output
)
as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM CONFIGURACION WHERE  IdTienda != @IdTienda)
		
		update CONFIGURACION set 
		NombreLocal = @NombreLocal,
		NombrePropietaria = @Nombre,
		Direccion = @Direccion,
		Telefono = @Telefono,
		Correo = @Correo,
		Lineafija = @Linea,
		NombreFiscal = @Fiscal,
		Descripcion = @Descripcion,
		RUC = @Ruc
		where IdTienda = @IdTienda
	ELSE
		SET @Resultado = 0

end
GO
/****** Object:  StoredProcedure [dbo].[usp_ModificarEstilo]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_ModificarEstilo](
@CodigoEstilo int,
@Nombre varchar(60),
@Activo bit,
@Resultado bit output
)
as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM Estilo WHERE Nombre =@Nombre and CodigoEstilo != @CodigoEstilo)
		
		update Estilo set 
		Nombre = @Nombre,
		Activo = @Activo
		where CodigoEstilo = @CodigoEstilo
	ELSE
		SET @Resultado = 0

end
GO
/****** Object:  StoredProcedure [dbo].[usp_ModificarMarca]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_ModificarMarca](
@IdMarca int,
@Nombre varchar(60),
@Activo bit,
@Resultado bit output
)
as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM Marca WHERE Nombre =@Nombre and CodigoMarca != @IdMarca)
		
		update Marca set 
		Nombre = @Nombre,
		Activo = @Activo
		where CodigoMarca = @IdMarca
	ELSE
		SET @Resultado = 0

end


GO
/****** Object:  StoredProcedure [dbo].[usp_ModificarPrecio]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_ModificarPrecio](
@IdProduct int,
@Precio int,
@Resultado bit output
)
as
begin
	SET @Resultado = 1
	IF EXISTS (SELECT * FROM PRODUCTO_BODEGA)
		
		update PRODUCTO_BODEGA set 
		PrecioUnidadVenta = @Precio
		where IdProductoBodega = @IdProduct

	ELSE
		SET @Resultado = 0

end
GO
/****** Object:  StoredProcedure [dbo].[usp_ModificarProducto]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDIMIENTO PARA MODIFICAR PRODUCTO
CREATE procedure [dbo].[usp_ModificarProducto](
@IdProducto int,
@Nombre varchar(50),
@Descripcion varchar(50),
@IdCategoria int,
@IdMarca int,
@IdEstilo int,
@IdTalla int,
@IdColor int,
@Activo bit,
@Resultado bit output
)
as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM PRODUCTO WHERE rtrim(ltrim(Nombre)) = rtrim(ltrim(@Nombre)) and IdProducto != @IdProducto)
		
		update PRODUCTO set
		Nombre = @Nombre,
		Descripcion = @Descripcion,
		IdCategoria = @IdCategoria,
		CodigoMarca = @IdMarca,
		CodigoEstilo = @IdEstilo,
		IdTalla = @IdTalla,
		IdColor = @IdColor,
		Activo = @Activo
		where IdProducto = @IdProducto
	ELSE
		SET @Resultado = 0

end


GO
/****** Object:  StoredProcedure [dbo].[usp_ModificarProductoTienda]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDIMIENTO PARA MODIFICAR PRODUCTO_TIENDA
CREATE procedure [dbo].[usp_ModificarProductoTienda](
@IdProductoBodega int,
@IdProducto varchar(60),
@IdBodega varchar(60),
@Resultado bit output
)
as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM PRODUCTO_BODEGA WHERE @IdProductoBodega = @IdProductoBodega and Iniciado = 1 )
		
		update PRODUCTO_BODEGA set 
		IdProducto = @IdProducto,
		IdBodega = @IdBodega
		where IdProductoBodega = @IdProductoBodega
	ELSE
		SET @Resultado = 0

end


GO
/****** Object:  StoredProcedure [dbo].[usp_ModificarProveedor]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--PROCEDIMIENTO PARA MODIFICAR PROVEEDOR
create procedure [dbo].[usp_ModificarProveedor](
@IdProveedor int,
@Ruc varchar(50),
@RazonSocial varchar(100),
@Telefono varchar(50),
@Correo varchar(50),
@Direccion varchar(50),
@Activo bit,
@Resultado bit output
)
as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM PROVEEDOR WHERE RUC = @Ruc and IdProveedor != @IdProveedor)
		
		update PROVEEDOR set 
		RUC = @Ruc,
		RazonSocial = @RazonSocial,
		Telefono = @Telefono,
		Correo = @Correo,
		Direccion = @Direccion,
		Activo = @Activo
		where IdProveedor = @IdProveedor
	ELSE
		SET @Resultado = 0

end


GO
/****** Object:  StoredProcedure [dbo].[usp_ModificarRol]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDIMIENTO PARA MODIFICAR ROLES
create procedure [dbo].[usp_ModificarRol](
@IdRol int,
@Descripcion varchar(60),
@Activo bit,
@Resultado bit output
)
as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM ROL WHERE Descripcion =@Descripcion and IdRol != @IdRol)
		
		update ROL set 
		Descripcion = @Descripcion,
		Activo = @Activo
		where IdRol = @IdRol
	ELSE
		SET @Resultado = 0

end


GO
/****** Object:  StoredProcedure [dbo].[usp_ModificarTalla]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[usp_ModificarTalla](
@IdTalla int,
@Nombre varchar(60),
@Activo bit,
@Resultado bit output
)
as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM Talla WHERE Nombre =@Nombre and IdTalla != @IdTalla)
		
		update Talla set 
		Nombre = @Nombre,
		Activo = @Activo
		where IdTalla = @IdTalla
	ELSE
		SET @Resultado = 0

end
GO
/****** Object:  StoredProcedure [dbo].[usp_ModificarTienda]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROCEDIMIENTO PARA MODIFICAR TIENDA
CREATE procedure [dbo].[usp_ModificarTienda](
@IdBodega int,
@Nombre varchar(60),
@Capacidad int,
@Activo bit,
@Resultado bit output
)
as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM BODEGA WHERE Nombre =@Nombre and IdBodega != @IdBodega)
		
		update BODEGA set 
		nombre = @Nombre,
		espacio = @Capacidad,
		Activo = @Activo
		where IdBodega = @IdBodega

	ELSE
		SET @Resultado = 0

end


GO
/****** Object:  StoredProcedure [dbo].[usp_ModificarUsuario]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROCEDIMIENTO PARA MODIFICAR USUARIO
CREATE procedure [dbo].[usp_ModificarUsuario](
@IdUsuario int,
@Nombres varchar(50),
@Apellidos varchar(50),
@Correo varchar(50),
@Clave varchar(100),
@IdRol int,
@Activo bit,
@Resultado bit output
)
as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM USUARIO WHERE Correo = @Correo and IdUsuario != @IdUsuario)
		
		update USUARIO set 
		Nombres = @Nombres,
		Apellidos = @Apellidos,
		Correo = @Correo,
		Clave = @Clave,
		IdRol = @IdRol,
		Activo = @Activo
		where IdUsuario = @IdUsuario

	ELSE
		SET @Resultado = 0

end


GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerCategorias]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--PROCEDMIENTO PARA OBTENER CATEGORIA
CREATE PROC [dbo].[usp_ObtenerCategorias]
as
begin
 select IdCategoria,Descripcion,Activo from CATEGORIA
end


GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerCliente]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--PROCEDMIENTO PARA OBTENER USUARIOS
CREATE PROC [dbo].[usp_ObtenerCliente]
as
begin
  select IdCliente,TipoDocumento,NumeroDocumento,Nombre,Direccion,Telefono,Activo from CLIENTE
end



GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerColor]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_ObtenerColor]
as
begin
 select IdColor,Nombre,Activo from Color
end
GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerConfiguracion]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_ObtenerConfiguracion]
as
begin
 select IdTienda,RUC,NombreLocal,NombrePropietaria,Direccion,Telefono,Correo,Lineafija,NombreFiscal,Descripcion from CONFIGURACION
end
GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerDetalleCompra]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDMIENTO PARA OBTENER DETALLE COMPRA
CREATE proc [dbo].[usp_ObtenerDetalleCompra](
@IdCompra int
)
as
begin


select  RIGHT('000000' + convert(varchar(max),c.IdCompra),6)[Codigo],
CONVERT(char(10),c.FechaRegistro,103)[FechaCompra],
CONVERT(decimal(10,2), c.TotalCosto)[TotalCosto],

(select p.RUC,p.RazonSocial from PROVEEDOR P
 where p.IdProveedor = c.IdProveedor
FOR XML PATH (''),TYPE) AS 'DETALLE_PROVEEDOR',

(select B.Nombre from BODEGA B
 where B.IdBodega = c.IdBodega
FOR XML PATH (''),TYPE) AS 'DETALLE_BODEGA',

(select convert(int, dc.Cantidad)[Cantidad],concat(p.Nombre,' - ',p.Descripcion)[NombreProducto],
CONVERT(decimal(10,2),dc.PrecioUnitarioCompra)PrecioUnitarioCompra,
CONVERT(decimal(10,2),dc.TotalCosto)[TotalCosto] 
from DETALLE_COMPRA dc
inner join PRODUCTO p on p.IdProducto = dc.IdProducto
where dc.IdCompra = c.IdCompra
FOR XML PATH ('PRODUCTO'),TYPE) AS 'DETALLE_PRODUCTO'

from COMPRAS c
where c.IdCompra =@IdCompra
FOR XML PATH(''), ROOT('DETALLE_COMPRA') 
end


GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerDetalleUsuario]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDMIENTO PARA OBTENER DETALLE USUARIO
CREATE proc [dbo].[usp_ObtenerDetalleUsuario](
@IdUsuario int
)
as
begin

 select 
*,
(select * from ROL r
 where r.IdRol = up.IdRol
FOR XML PATH (''),TYPE) AS 'DetalleRol'
,
 (
 select t.NombreMenu,t.Icono,
 (select sm.Nombre[NombreSubMenu],sm.Controlador,sm.Vista,sm.Icono,p.Activo
	 from PERMISOS p
	 inner join ROL r on r.IdRol = p.IdRol
	 inner join SUBMENU sm on sm.IdSubMenu = p.IdSubMenu
	 inner join MENU m on m.IdMenu = sm.IdMenu
	 inner join USUARIO u on u.IdRol = r.IdRol and u.IdUsuario = up.IdUsuario
	where sm.IdMenu = t.IdMenu
  FOR XML PATH ('SubMenu'),TYPE) AS 'DetalleSubMenu' 

 from (
 select distinct m.Nombre[NombreMenu],m.IdMenu,m.Icono
 from PERMISOS p
 inner join ROL r on r.IdRol = p.IdRol
 inner join SUBMENU sm on sm.IdSubMenu = p.IdSubMenu
 inner join MENU m on m.IdMenu = sm.IdMenu
 inner join USUARIO u on u.IdRol = r.IdRol and u.IdUsuario = up.IdUsuario
 where p.Activo = 1) t
 FOR XML PATH ('Menu'),TYPE) AS 'DetalleMenu'  
 from USUARIO up
 where UP.IdUsuario = @IdUsuario
 FOR XML PATH(''), ROOT('Usuario')  

end


GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerDetalleVenta]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDMIENTO PARA OBTENER DETALLE VENTA
CREATE proc [dbo].[usp_ObtenerDetalleVenta](
@IdVenta int
)
as
begin


select V.TipoDocumento, V.Codigo,
CONVERT(decimal(10,2), V.TotalCosto)[TotalCosto],
CONVERT(decimal(10,2),V.ImporteRecibido)[ImporteRecibido],
CONVERT(decimal(10,2), V.ImporteCambio)[ImporteCambio],
CONVERT(decimal(10,2), V.Descuento)[Descuento],
convert(char(10),v.fechaRegistro,103)[FechaRegistro],
(select u.Nombres,u.Apellidos from USUARIO U
 where U.IdUsuario = v.IdUsuario
FOR XML PATH (''),TYPE) AS 'DETALLE_USUARIO',

(select C.Nombre,C.Direccion,C.NumeroDocumento,C.Telefono from CLIENTE c
 where c.IdCliente = V.IdCliente
FOR XML PATH (''),TYPE) AS 'DETALLE_CLIENTE',

(select dv.Cantidad,concat(p.Nombre,'-',p.Descripcion)[NombreProducto],
CONVERT(decimal(10,2),dv.PrecioUnidad)[PrecioUnidad],
CONVERT(decimal(10,2),dv.ImporteTotal)[ImporteTotal] 
from DETALLE_VENTA dv
inner join PRODUCTO p on p.IdProducto = dv.IdProducto
where dv.IdVenta = v.IdVenta
FOR XML PATH ('PRODUCTO'),TYPE) AS 'DETALLE_PRODUCTO'

from VENTA v
where v.IdVenta = @IdVenta
FOR XML PATH(''), ROOT('DETALLE_VENTA') 

end


GO
/****** Object:  StoredProcedure [dbo].[usp_obtenerDev]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE procedure [dbo].[usp_obtenerDev] (
@FechaInicio date,
@FechaFin date
)
as
begin

select convert(char(10),D.FechaRegistro ,103)[FechaDevolucion],Motivo,CantidadDevuelta,D.Codigo,p.Nombre
from Devoluciones D
inner join PRODUCTO p on p.IdProducto = D.Producto
 where 
 CONVERT(date,D.FechaRegistro) between @FechaInicio and @FechaFin 
 
end
 
 --select * from Devoluciones
 --select * from PRODUCTO_BODEGA
 --select * from PRODUCTO
GO
/****** Object:  StoredProcedure [dbo].[usp_Obtenerestilo]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_Obtenerestilo]
as
begin
 select CodigoEstilo,Nombre,Activo from Estilo
end
GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerListaCompra]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--PROCEDMIENTO PARA OBTENER LISTA COMPRA
CREATE procedure [dbo].[usp_ObtenerListaCompra](
@FechaInicio date,
@FechaFin date,
@IdProveedor int = 0 ,
@IdBodega int = 0
)
as
begin
SET DATEFORMAT dmy;
select c.IdCompra,RIGHT('000000' + convert(varchar(max),c.IdCompra),6)[NumeroCompra], p.RazonSocial,b.Nombre,
convert(char(10),c.FechaRegistro,103)[FechaCompra],c.TotalCosto from COMPRAS c
inner join PROVEEDOR p on p.IdProveedor = c.IdProveedor
inner join BODEGA b on b.IdBodega = c.IdBodega
where 
CONVERT(date,c.FechaRegistro) between @FechaInicio and @FechaFin and
p.IdProveedor = iif(@IdProveedor = 0,p.IdProveedor,@IdProveedor) and
b.IdBodega =iif(@IdBodega = 0,b.IdBodega,@IdBodega) 

end





GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerListaVenta]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDMIENTO PARA OBTENER LISTA VENTA

CREATE procedure [dbo].[usp_ObtenerListaVenta](
@Codigo varchar(50) = '',
@FechaInicio date,
@FechaFin date,
@NumeroDocumento varchar(50) = '',
@Nombre varchar(100) = ''
)
as
begin
SET DATEFORMAT dmy;
select v.IdVenta, v.TipoDocumento,v.Codigo,v.FechaRegistro,c.NumeroDocumento,c.Nombre,v.TotalCosto,v.Activo from VENTA v 
inner join CLIENTE c on c.IdCliente = v.IdCliente
where 
v.Codigo = iif(@Codigo='',v.Codigo,@Codigo) and
CONVERT(date,v.FechaRegistro) between @FechaInicio and @FechaFin and
c.NumeroDocumento like CONCAT('%',@NumeroDocumento,'%') and
c.Nombre like CONCAT('%',@Nombre,'%')

end


GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerMarca]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_ObtenerMarca]
as
begin
 select CodigoMarca,Nombre,Activo from Marca
end
GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerPermisos]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDMIENTO PARA OBTENER PERMISOS
create procedure [dbo].[usp_ObtenerPermisos](
@IdRol int)
as
begin
select p.IdPermisos,m.Nombre[Menu],sm.Nombre[SubMenu],p.Activo from PERMISOS p
inner join SUBMENU sm on sm.IdSubMenu = p.IdSubMenu
inner join MENU m on m.IdMenu = sm.IdMenu
where p.IdRol = @IdRol
end


GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerProductos]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEMIENTO PARA OBTENER PRODUCTO
CREATE PROC [dbo].[usp_ObtenerProductos]
as
begin
 select IdProducto,Codigo,ValorCodigo,p.Nombre,p.RutaImagen,p.NombreImagen,p.Descripcion[DescripcionProducto],
 p.IdCategoria,p.Activo,c.Descripcion[DescripcionCategoria],
 p.CodigoMarca,p.Activo,m.Nombre[DescripcionMarca],
 p.CodigoEstilo,p.Activo,e.Nombre[NombreEstilo],
 p.IdTalla,p.Activo,t.Nombre[DescripcionTalla],
  p.IdColor,p.Activo,a.Nombre[DescripcionColor]

 from PRODUCTO p
 inner join CATEGORIA c on c.IdCategoria = p.IdCategoria
 inner join Marca m on m.CodigoMarca = p.CodigoMarca
 inner join Estilo e on e.CodigoEstilo = p.CodigoEstilo
 inner join Talla t on t.IdTalla = p.IdTalla
 inner join Color a on a.IdColor = p.IdColor
end


GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerProductoTienda]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/********************* PRODUCTO_TIENDA **************************/


--PROCEDMIENTO PARA OBTENER PRODUCTO_TIENDA
CREATE PROC [dbo].[usp_ObtenerProductoTienda]
as
begin
 select pb.IdProductoBodega,p.IdProducto,p.Codigo[CodigoProducto], p.Nombre[NombreProducto],p.Descripcion[DescripcionProducto],p.RutaImagen[RutaImage],p.NombreImagen[NombreImage],
 c.Descripcion[DescripcionCategoria],m.nombre[DescripcionMarca],e.Nombre[NombreEstilo],t.Nombre[DescripcionTalla],a.Nombre[DescripcionColor],
 b.IdBodega,b.Nombre[NombreTienda],pb.PrecioUnidadCompra,pb.PrecioUnidadVenta,pb.Stock,pb.Iniciado
 
 from PRODUCTO_BODEGA pb
 inner join PRODUCTO p on p.IdProducto = pb.IdProducto
 inner join CATEGORIA c on c.IdCategoria = p.IdCategoria
 inner join Marca m on m.CodigoMarca = p.CodigoMarca
 inner join Estilo e on e.CodigoEstilo = p.CodigoEstilo
 inner join Talla t on t.IdTalla = p.IdTalla
 inner join Color a on a.IdColor = p.IdColor
 inner join BODEGA b on b.IdBodega = pb.IdBodega
end


GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerProveedores]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROCEDMIENTO PARA OBTENER PROVEEDORES
CREATE PROC [dbo].[usp_ObtenerProveedores]
as
begin
 select IdProveedor,RUC,RazonSocial,Telefono,Correo,Direccion,Activo from PROVEEDOR
end


GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerRoles]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDMIENTO PARA OBTENER ROLES
CREATE PROC [dbo].[usp_ObtenerRoles]
as
begin
 select IdRol, Descripcion,Activo from ROL
end


GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerTalla]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_ObtenerTalla]
as
begin
 select IdTalla,Nombre,Activo from Talla
end
GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerTienda]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROCEDMIENTO PARA OBTENER TIENDAS
CREATE PROC [dbo].[usp_ObtenerTienda]
as
begin
 select IdBodega,Nombre,espacio,Activo from BODEGA
end


GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerUsuario]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDMIENTO PARA OBTENER USUARIOS
CREATE PROC [dbo].[usp_ObtenerUsuario]
as
begin
 select u.IdUsuario,u.Nombres,u.Apellidos,u.Correo,u.Clave,u.IdRol,u.Activo,u.FechaRegistro,r.Descripcion[DescripcionRol],u.Activo from USUARIO u
 inner join ROL r on r.IdRol = u.IdRol
end

GO
/****** Object:  StoredProcedure [dbo].[usp_ProductosDañados]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from PRODUCTO_BODEGA

create procedure [dbo].[usp_ProductosDañados](
@IdProductoBodega int,
@stock int,
@Resultado bit output
)
as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM PRODUCTO_BODEGA WHERE IdProductoBodega = @IdProductoBodega and Iniciado = 0 )
		
		update PRODUCTO_BODEGA set 
		Stock = @stock
		where IdProductoBodega = @IdProductoBodega
	ELSE
		SET @Resultado = 0

end

	IF not  EXISTS (SELECT * FROM PRODUCTO_BODEGA WHERE IdProductoBodega = 4026 and Iniciado = 0 )
		
		update PRODUCTO_BODEGA set 
		Stock = 2
		where IdProductoBodega = 4026
GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarCategoria]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDIMIENTO PARA GUARDAR CATEGORIA
CREATE PROC [dbo].[usp_RegistrarCategoria](
@Descripcion varchar(50),
@Resultado bit output
)as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM CATEGORIA WHERE Descripcion = @Descripcion)

		insert into CATEGORIA(Descripcion) values (
		@Descripcion
		)
	ELSE
		SET @Resultado = 0
	
end


GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarCliente]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDIMIENTO PARA GUARDAR CLIENTE
CREATE PROC [dbo].[usp_RegistrarCliente](
@TipoDocumento varchar(100),
@NumeroDocumento varchar(100),
@Nombre varchar(100),
@Direccion varchar(100),
@Telefono varchar(100),
@Resultado bit output
)as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM CLIENTE WHERE NumeroDocumento = @NumeroDocumento)
	begin
		insert into cliente(TipoDocumento,NumeroDocumento,Nombre,Direccion,Telefono) values
		(@TipoDocumento,@NumeroDocumento,@Nombre,@Direccion,@Telefono)
	end
	ELSE
		SET @Resultado = 0
	
end


GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarColor]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_RegistrarColor](
@Nombre varchar(50),
@Resultado bit output
)as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM Color WHERE Nombre = @Nombre)

		insert into Color(Nombre) values (
		@Nombre
		)
	ELSE
		SET @Resultado = 0
	
end
GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarCompra]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/********************* COMPRA **************************/

--PROCEDIMIENTO PARA REGITRAR COMPRA
CREATE procedure [dbo].[usp_RegistrarCompra](
@Detalle xml,
@Resultado bit output
)
as
begin


begin try

	BEGIN TRANSACTION

	declare @compra table(idusuario int,idproveedor int,idbodega int,totalcosto decimal(18,2))
	declare @detallecompra table(idcompra int,idproducto int,cantidad int,preciounidadcompra decimal(18,2),preciounidadventa decimal(18,2),totalcosto decimal(18,2))
	declare @tiendaproducto table(idbodega int,idproducto int,cantidad int,preciounidadcompra decimal(18,2),preciounidadventa decimal(18,2),totalcosto decimal(18,2))

	 insert into @compra(idusuario,idproveedor,idbodega,totalcosto)
	 select 
	 IdUsuario = Node.Data.value('(IdUsuario)[1]','int'),
	 IdProveedor = Node.Data.value('(IdProveedor)[1]','int'),
	 IdBodega = Node.Data.value('(IdBodega)[1]','int'),
	 TotalCosto = Node.Data.value('(TotalCosto)[1]','decimal(18,2)')
	 FROM @Detalle.nodes('/DETALLE/COMPRA') Node(Data)
 
	 insert into @detallecompra(idcompra,idproducto,cantidad,preciounidadcompra,preciounidadventa,totalcosto)
	 select 
	 IdCompra = Node.Data.value('(IdCompra)[1]','int'),
	 IdProducto = Node.Data.value('(IdProducto)[1]','int'),
	 Cantidad = Node.Data.value('(Cantidad)[1]','int'),
	 PrecioUnidadCompra = Node.Data.value('(PrecioUnidadCompra)[1]','decimal(18,2)'),
	 PrecioUnidadVenta = Node.Data.value('(PrecioUnidadVenta)[1]','decimal(18,2)'),
	 TotalCosto = Node.Data.value('(TotalCosto)[1]','decimal(18,2)')
	 FROM @Detalle.nodes('/DETALLE/DETALLE_COMPRA/DETALLE') Node(Data)

	 insert into @tiendaproducto(idbodega,idproducto,cantidad,preciounidadcompra,preciounidadventa,totalcosto)
	 select
	 (select top 1 idbodega from @compra),
	 idproducto,cantidad,preciounidadcompra,preciounidadventa,totalcosto
	 from @detallecompra


	 --******************* AREA DE TRABAJO *************************
	 declare @IdCompra int = 0

	 insert into COMPRAS(IdUsuario,IdProveedor,IdBodega,TotalCosto)
	 select idusuario,idproveedor,idbodega,totalcosto from @compra

	 set @IdCompra = Scope_identity()
	 update @detallecompra set idcompra = @IdCompra

	 insert into DETALLE_COMPRA(IdCompra,IdProducto,Cantidad,PrecioUnitarioCompra,PrecioUnitarioVenta,TotalCosto)
	 select idcompra,idproducto,cantidad,preciounidadcompra,preciounidadventa,totalcosto from @detallecompra

	 update pt set 
	 pt.PrecioUnidadCompra = tp.preciounidadcompra, 
	 pt.PrecioUnidadVenta = tp.preciounidadventa,
	 pt.Stock = pt.Stock + tp.cantidad,
	 pt.Iniciado = 1
	 from PRODUCTO_BODEGA pt
	 inner join @tiendaproducto tp on tp.idbodega = pt.IdBodega and tp.idproducto = pt.IdProducto

	 COMMIT
	 set @Resultado = 1

 end try
 begin catch
	ROLLBACK
	set @Resultado = 0
 end catch
end




GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarEstilo]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[usp_RegistrarEstilo](
@Nombre varchar(50),
@Resultado bit output
)as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM Estilo WHERE Nombre = @Nombre)

		insert into Estilo(Nombre) values (
		@Nombre
		)
	ELSE
		SET @Resultado = 0
	
end
GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarMarca]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[usp_RegistrarMarca](
@Nombre varchar(50),
@Resultado bit output
)as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM Marca WHERE Nombre = @Nombre)

		insert into Marca(Nombre) values (
		@Nombre
		)
	ELSE
		SET @Resultado = 0
	
end
GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarProducto]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDIMIENTO PARA GUARDAR PRODUCTO
CREATE PROC [dbo].[usp_RegistrarProducto](
@Nombre varchar(50),
@Descripcion varchar(50),
@IdCategoria int,
@IdMarca int,
@IdEstilo int,
@IdTalla int,
@IdColor int,
@ruta varchar(300),
@imagen varchar(300),
@Resultado int output
)as
begin
	SET @Resultado = 0
	IF NOT EXISTS (SELECT * FROM PRODUCTO WHERE rtrim(ltrim(Nombre)) = rtrim(ltrim(@Nombre)))
	begin
		insert into PRODUCTO(Codigo,ValorCodigo,Nombre,Descripcion,IdCategoria,CodigoMarca,CodigoEstilo,IdTalla,IdColor,RutaImagen,NombreImagen) values (
		RIGHT('000000' + convert(varchar(max),(select isnull(max(ValorCodigo),0) + 1 from PRODUCTO)),6),(select isnull(max(ValorCodigo),0) + 1 from PRODUCTO),@Nombre,@Descripcion,@IdCategoria,
		@IdMarca,@IdEstilo,@IdTalla,@IdColor,@ruta,@imagen
		)
	
		SET @Resultado = scope_identity()
	
end
end
GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarProductoTienda]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--PROCEDIMIENTO PARA GUARDAR PRODUCTO_TIENDA
CREATE PROC [dbo].[usp_RegistrarProductoTienda](
@IdProducto int,
@IdBodega int,
@Resultado bit output
)as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM PRODUCTO_BODEGA WHERE IdProducto = @IdProducto)

		insert into PRODUCTO_BODEGA(IdProducto,IdBodega) values (
		@IdProducto,@IdBodega
		)
	ELSE
		SET @Resultado = 0
	
end


GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarProveedor]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--PROCEDIMIENTO PARA GUARDAR PROVEEDOR
CREATE PROC [dbo].[usp_RegistrarProveedor](
@Ruc varchar(50),
@RazonSocial varchar(100),
@Telefono varchar(50),
@Correo varchar(50),
@Direccion varchar(50),
@Resultado bit output
)as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM PROVEEDOR WHERE RUC = @Ruc)

		insert into PROVEEDOR(RUC,RazonSocial,Telefono,Correo,Direccion)
		values(@Ruc,@RazonSocial,@Telefono,@Correo,@Direccion)

	ELSE
		SET @Resultado = 0
	
end


GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarRol]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--PROCEDIMIENTO PARA GUARDAR ROL
CREATE PROC [dbo].[usp_RegistrarRol](
@Descripcion varchar(50),
@Resultado bit output
)as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM ROL WHERE Descripcion = @Descripcion)
	begin
		declare @idrol int = 0
		insert into ROL(Descripcion) values (
		@Descripcion
		)
		set @idrol  = Scope_identity()

		insert into PERMISOS(IdRol,IdSubMenu,Activo)
		select @idrol, IdSubMenu,0 from SUBMENU
	end
	ELSE
		SET @Resultado = 0
	
end



GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarTalla]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_RegistrarTalla](
@Nombre varchar(50),
@Resultado bit output
)as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM Talla WHERE Nombre = @Nombre)

		insert into Talla(Nombre) values (
		@Nombre
		)
	ELSE
		SET @Resultado = 0
	
end
GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarTienda]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROCEDIMIENTO PARA GUARDAR TIENDA
CREATE PROC [dbo].[usp_RegistrarTienda]
(
@Nombre varchar(50),
@Capacidad int,
@Resultado bit output
)as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM BODEGA WHERE Nombre = @Nombre)

		insert into BODEGA(Nombre,Espacio) values (
		@Nombre,@Capacidad
		)
	ELSE
		SET @Resultado = 0
	
end


GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarUsuario]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROCEDIMIENTO PARA REGISTRAR USUARIO
CREATE PROC [dbo].[usp_RegistrarUsuario](
@Nombres varchar(50),
@Apellidos varchar(50),
@Correo varchar(50),
@Clave varchar(100),
@IdRol int,
@Resultado bit output
)as
begin
	SET @Resultado = 1
	IF NOT EXISTS (SELECT * FROM USUARIO WHERE Correo = @Correo)

		insert into USUARIO(Nombres,Apellidos,Correo,Clave,IdRol) values (
		@Nombres,@Apellidos,@Correo,@Clave,@IdRol
		)
	ELSE
		SET @Resultado = 0
	
end


GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarVenta]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/********************* VENTA **************************/

--PROCEDIMIENTO PARA REGITRAR VENTA
CREATE procedure [dbo].[usp_RegistrarVenta](
@Detalle xml,
@Resultado int output
)
as
begin


begin try

	BEGIN TRANSACTION
	
	declare @cliente table (tipodocumento varchar(50),numerodocumento varchar(50),nombre varchar(100),direccion varchar(100),telefono varchar(50))
	declare @venta table (idusuario int,idcliente int default 0,tipodocumento varchar(50),cantidadproducto int,cantidadtotal int,totalcosto decimal(18,2),importerecibido decimal(18,2),importecambio decimal(18,2),Descuento decimal(18,2))
	declare @detalleventa table (idventa int,idproducto int,cantidad int,preciounidad decimal(18,2),importetotal decimal(18,2))

	insert into @cliente(tipodocumento,numerodocumento,nombre,direccion,telefono)
		 select 
		 tipodocumento = Node.Data.value('(TipoDocumento)[1]','varchar(50)'),
		 numerodocumento = Node.Data.value('(NumeroDocumento)[1]','varchar(50)'),
		 nombre = Node.Data.value('(Nombre)[1]','varchar(100)'),
		 direccion = Node.Data.value('(Direccion)[1]','varchar(100)'),
		 telefono = Node.Data.value('(Telefono)[1]','varchar(50)')
		 FROM @Detalle.nodes('/DETALLE/DETALLE_CLIENTE/DATOS') Node(Data)

	insert into @venta(idusuario,idcliente,tipodocumento,cantidadproducto,cantidadtotal,totalcosto,importerecibido,importecambio,Descuento)
	select 
		 IdUsuario = Node.Data.value('(IdUsuario)[1]','varchar(50)'),
		 IdCliente = Node.Data.value('(IdCliente)[1]','varchar(100)'),
		 TipoDocumento = Node.Data.value('(TipoDocumento)[1]','varchar(100)'),
		 CantidadProducto = Node.Data.value('(CantidadProducto)[1]','varchar(50)'),
		 CantidadTotal = Node.Data.value('(CantidadTotal)[1]','varchar(50)'),
		 TotalCosto = Node.Data.value('(TotalCosto)[1]','decimal(18,2)'),
		 ImporteRecibido = Node.Data.value('(ImporteRecibido)[1]','decimal(18,2)'),
		 ImporteCambio = Node.Data.value('(ImporteCambio)[1]','decimal(18,2)'),
		 Descuento = Node.Data.value('(Descuento)[1]','decimal(18,2)')
		 FROM @Detalle.nodes('/DETALLE/VENTA') Node(Data)

	insert into @detalleventa(idventa,idproducto,cantidad,preciounidad,importetotal)
		 select 
		 IdVenta = Node.Data.value('(IdVenta)[1]','int'),
		 IdProducto = Node.Data.value('(IdProducto)[1]','int'),
		 Cantidad = Node.Data.value('(Cantidad)[1]','int'),
		 PrecioUnidad = Node.Data.value('(PrecioUnidad)[1]','decimal(18,2)'),
		 ImporteTotal = Node.Data.value('(ImporteTotal)[1]','decimal(18,2)')
		 FROM @Detalle.nodes('/DETALLE/DETALLE_VENTA/DATOS') Node(Data)

	--******************* AREA DE TRABAJO *************************
	declare @identity as table(ID int)

	if not exists(select * from CLIENTE where numeroDocumento = (select numerodocumento from @cliente))
	insert into CLIENTE(TipoDocumento,NumeroDocumento,Nombre,Direccion,Telefono)
	output inserted.IdCliente into @identity
	select tipodocumento,numerodocumento,nombre,direccion,telefono from @cliente
	else 
	 insert into @identity(ID)
	 select IdCliente from CLIENTE where numeroDocumento = (select numerodocumento from @cliente)

	update @venta set idcliente = (select ID from @identity)
	delete from @identity

	insert into VENTA(Codigo,ValorCodigo,IdUsuario,IdCliente,TipoDocumento,CantidadProducto,CantidadTotal,TotalCosto,ImporteRecibido,ImporteCambio,Descuento)
	output inserted.IdVenta into @identity
	select 
	RIGHT('000000' + convert(varchar(max),(select isnull(max(ValorCodigo),0) + 1 from VENTA) ),6),
	(select isnull(max(ValorCodigo),0) + 1 from VENTA),
	idusuario,idcliente,tipodocumento,cantidadproducto,cantidadtotal,totalcosto,importerecibido,importecambio,Descuento
	from @venta

	update @detalleventa set idventa = (select ID from @identity)

	insert into DETALLE_VENTA(IdVenta,IdProducto,Cantidad,PrecioUnidad,ImporteTotal)
	select idventa,idproducto,cantidad,preciounidad,importetotal from @detalleventa


	 COMMIT
	 set @Resultado = (select ID from @identity)

 end try
 begin catch
	ROLLBACK
	set @Resultado = 0
 end catch
end


--exec usp_RegistrarVenta
GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarVentas]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[usp_RegistrarVentas](
@Detalle xml,
@Resultado int output
)
as
begin


begin try

	BEGIN TRANSACTION
	
	declare @cliente table (tipodocumento varchar(50),numerodocumento varchar(50),nombre varchar(100),direccion varchar(100),telefono varchar(50))
	declare @venta table (idusuario int,idcliente int default 0,tipodocumento varchar(50),cantidadproducto int,cantidadtotal int,totalcosto decimal(18,2),importerecibido decimal(18,2),importecambio decimal(18,2),Descuento decimal(18,2))
	declare @detalleventa table (idventa int,idproducto int,cantidad int,preciounidad decimal(18,2),importetotal decimal(18,2))

	insert into @cliente(tipodocumento,numerodocumento,nombre,direccion,telefono)
		 select 
		 tipodocumento = Node.Data.value('(TipoDocumento)[1]','varchar(50)'),
		 numerodocumento = Node.Data.value('(NumeroDocumento)[1]','varchar(50)'),
		 nombre = Node.Data.value('(Nombre)[1]','varchar(100)'),
		 direccion = Node.Data.value('(Direccion)[1]','varchar(100)'),
		 telefono = Node.Data.value('(Telefono)[1]','varchar(50)')
		 FROM @Detalle.nodes('/DETALLE/DETALLE_CLIENTE/DATOS') Node(Data)

	insert into @venta(idusuario,idcliente,tipodocumento,cantidadproducto,cantidadtotal,totalcosto,importerecibido,importecambio,Descuento)
	select 
		 IdUsuario = Node.Data.value('(IdUsuario)[1]','varchar(50)'),
		 IdCliente = Node.Data.value('(IdCliente)[1]','varchar(100)'),
		 TipoDocumento = Node.Data.value('(TipoDocumento)[1]','varchar(100)'),
		 CantidadProducto = Node.Data.value('(CantidadProducto)[1]','varchar(50)'),
		 CantidadTotal = Node.Data.value('(CantidadTotal)[1]','varchar(50)'),
		 TotalCosto = Node.Data.value('(TotalCosto)[1]','decimal(18,2)'),
		 ImporteRecibido = Node.Data.value('(ImporteRecibido)[1]','decimal(18,2)'),
		 ImporteCambio = Node.Data.value('(ImporteCambio)[1]','decimal(18,2)'),
		 Descuento = Node.Data.value('(Descuento)[1]','decimal(18,2)')
		 FROM @Detalle.nodes('/DETALLE/VENTA') Node(Data)

	insert into @detalleventa(idventa,idproducto,cantidad,preciounidad,importetotal)
		 select 
		 IdVenta = Node.Data.value('(IdVenta)[1]','int'),
		 IdProducto = Node.Data.value('(IdProducto)[1]','int'),
		 Cantidad = Node.Data.value('(Cantidad)[1]','int'),
		 PrecioUnidad = Node.Data.value('(PrecioUnidad)[1]','decimal(18,2)'),
		 ImporteTotal = Node.Data.value('(ImporteTotal)[1]','decimal(18,2)')
		 FROM @Detalle.nodes('/DETALLE/DETALLE_VENTA/DATOS') Node(Data)

	--******************* AREA DE TRABAJO *************************
	declare @identity as table(ID int)

	if not exists(select * from CLIENTE where numeroDocumento = (select numerodocumento from @cliente))
	insert into CLIENTE(TipoDocumento,NumeroDocumento,Nombre,Direccion,Telefono)
	output inserted.IdCliente into @identity
	select tipodocumento,numerodocumento,nombre,direccion,telefono from @cliente
	else 
	 insert into @identity(ID)
	 select IdCliente from CLIENTE where numeroDocumento = (select numerodocumento from @cliente)

	update @venta set idcliente = (select ID from @identity)
	delete from @identity

	insert into VENTAS(Codigo,ValorCodigo,IdUsuario,IdCliente,TipoDocumento,CantidadProducto,CantidadTotal,TotalCosto,ImporteRecibido,ImporteCambio,Descuento)
	output inserted.IdVenta into @identity
	select 
	RIGHT('000000' + convert(varchar(max),(select isnull(max(ValorCodigo),0) + 1 from VENTAS) ),6),
	(select isnull(max(ValorCodigo),0) + 1 from VENTAS),
	idusuario,idcliente,tipodocumento,cantidadproducto,cantidadtotal,totalcosto,importerecibido,importecambio,Descuento
	from @venta

	update @detalleventa set idventa = (select ID from @identity)

	insert into DETALLE_VENTA(IdVenta,IdProducto,Cantidad,PrecioUnidad,ImporteTotal)
	select idventa,idproducto,cantidad,preciounidad,importetotal from @detalleventa


	 COMMIT
	 set @Resultado = (select ID from @identity)

 end try
 begin catch
	ROLLBACK
	set @Resultado = 0
 end catch
end

GO
/****** Object:  StoredProcedure [dbo].[usp_rptProductoTienda]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROCEDMIENTO PARA REPORTE TIENDA PRODUCTO

 CREATE procedure [dbo].[usp_rptProductoTienda](
  @IdBodega int = 0,
 @Codigo varchar(50)
 )
 as
 begin
 select  pb.IdProductoBodega[Id],
 b.Nombre[Nombre Tienda],
 p.Codigo[Codigo Producto],p.Nombre[Nombre Producto],p.Descripcion[Descripcion Producto],c.Descripcion[DescripcionCategoria],m.nombre[DescripcionMarca],e.Nombre[NombreEstilo],t.Nombre[DescripcionTalla],
 a.Nombre[DescripcionColor],
 pb.Stock[Stock en tienda],convert(decimal(10,2),pb.PrecioUnidadCompra)[Precio Compra],convert(decimal(10,2),pb.PrecioUnidadVenta)[PrecioVenta]

 from PRODUCTO_BODEGA pb
 inner join PRODUCTO p on p.IdProducto = pb.IdProducto
 inner join BODEGA b on b.IdBodega = pb.IdBodega
  inner join CATEGORIA c on c.IdCategoria = p.IdCategoria
 inner join Marca m on m.CodigoMarca = p.CodigoMarca
 inner join Estilo e on e.CodigoEstilo = p.CodigoEstilo
 inner join Talla t on t.IdTalla = p.IdTalla
 inner join Color a on a.IdColor = p.IdColor
  where pb.IdBodega = iif(@IdBodega = 0,pb.IdBodega,@IdBodega) and
 p.Codigo like '%' + @Codigo + '%'

 end

GO
/****** Object:  StoredProcedure [dbo].[usp_rptVenta]    Script Date: 23/02/2024 16:37:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 --PROCEDMIENTO PARA REPORTE VENTA

CREATE procedure [dbo].[usp_rptVenta] (
@FechaInicio date,
@FechaFin date
)
as
begin

 select convert(char(10), v.FechaRegistro ,103)[Fecha Venta],v.Codigo[Numero Documento],v.TipoDocumento[Tipo Documento],
 concat(u.Nombres,' ', u.apellidos)[Nombre Empleado],
 v.CantidadTotal[Cantidad Unidades Vendidas],v.CantidadProducto[Cantidad Productos],v.TotalCosto[Total Venta] 
 from VENTA v
 inner join USUARIO u on u.IdUsuario = v.IdUsuario
 where 
 CONVERT(date,v.FechaRegistro) between @FechaInicio and @FechaFin 
 
end




GO
USE [master]
GO
