<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PRUEBAUNITARIA.Properties.Settings.Tienda_LuciaConnectionString"
            connectionString="Data Source=DESKTOP-JQ0C75M\URAI;Initial Catalog=Tienda_Lucia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>